body { 
    background-color: #373131;
    overflow-x: hidden;
}

@font-face {
    font-family: "gilroy-bold";
    src: url("D:/radio-web-player/res/fonts/Gilroy-ExtraBold.otf");
}

h2, h3, h4, h5 {
    font-family: "gilroy-bold";
}

h2 {
    font-size: 40px;
}

h3 {
    text-align: center;
    padding: 15px 0;
}

footer {
    color: white;
    font-size: 12px;
    margin-top: 20px;
    padding: 30px 70px 30px 70px;
    background-color: black;
}

.stream {
    text-align: center;
    /* background-color: blue; */
    border-radius: 5%;
    padding-bottom: 3px;
}
.overlay {
    margin: 0 auto;
    width: 230px;
    height: 230px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 5%;
    background-color: black;
    opacity: 0;
}

.overlay:hover {
    opacity: 0.7;
}

.far {
    color: #ddd;
    top: 35%;
    position: relative;
    font-size: 70px;
}

a {
    font-size: 11px;
}

.item p {
    margin: 0 auto;
    width: 220px;
    left: 0;
    right: 0;
    font-size: 14px;
    margin-bottom: 0;
}

.item { padding-bottom: 30px; }

.stream-title {
    padding-top: 10px;
}

.special-events {
    background-color: #3e3737;
}

.countdown-timer {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    bottom: 0;
}

.countdown-timer pre {
    text-transform: uppercase;
    z-index: 100;
    color: #ddd;
    font-size: 25px;
}
